<div class="d-flex header">
    <button [routerLink]="['/newpost']" class="btn btn-outline-success mt-2 ml-2" style="width: 150px; height: 40px;">Add post<i class='bx bx-plus-medical pl-2'></i></button>
    
</div>
<div class="post-container">
    <div class="item" *ngFor="let post of posts">
        <div class="item-top">
            <div class="left">
            </div>
            <div class="right">
                <button [routerLink]="['/edit-post', post.id]" type="button" class="btn btn-outline-secondary mr-2" style="width: 60px; height: 30px;"><i class='bx bx-edit'></i></button>
                <!-- <button  type="button" class="btn btn-outline-success" style="width: 60px; height: 30px;"><i class='bx bxs-heart' ></i>{{post.favoritesCount}}</button> -->
            </div>
        </div>
        <div class="item-bottom">
            <div class="left">
                <img class="image" [src]="post.image" alt="">
            </div>
            <div class="right">
                <!-- <h3>{{post.id}}</h3> -->
                <h3 class="title">{{ post.title}}</h3>
                <p class="description">{{ post.shortDescription}}</p>
                <a  class="seemore">See more<i class='bx bx-chevrons-right'></i></a>
            </div>
        </div>
    </div>
</div>