<div class="d-flex header">
    <a [routerLink]="['/newpost']" class="pt-3"><i class='bx bx-plus mr-1'></i>Add new post</a>
    <form class="form-inline ml-auto">
        <input class="form-control" type="text" placeholder="Search" name="search" [(ngModel)]="searchString">
        <button class="btn btn-success" type="button" (click)="showListPosts()"><i class='bx bx-search-alt-2'></i></button>
    </form>
</div>
<div class="post-container">
    <div class="item" *ngFor="let item of items">
        <div class="item-top">
            <div class="left">
            </div>
            <div class="right">
                <button type="button" class="btn btn-outline-success" style="width: 60px; height: 30px;"><i class='bx bxs-heart' ></i>1</button>
            </div>
        </div>
        <div class="item-bottom">
            <div class="left">
                <img class="image" [src]="item.image" alt="">
            </div>
            <div class="right">
                <h3 class="title">{{ item.title}}</h3>
                <p class="date">{{ item.postedOn}}</p>
                <p class="description">{{ item.shortDescription}}</p>
                <a [routerLink]="['/post', item.id]" class="seemore">See more<i class='bx bx-chevrons-right'></i></a>
            </div>
        </div>
    </div>
</div>